@{
    ViewData["Title"] = "Starter Page";
}

<style>
    body {
        background-image: url('/Images/adminStarterPage.jpg'); /* Adjust the path as needed */
        background-size: contain;
        color: #fff;
        background-position: right 100px center;
        height: 100vh;
    }
</style>

<div class="container-fluid">
    <div class="row">
        
    </div>
</div>