html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.homeBackground {
    position: fixed;
    top: 56px; /* Height of the navigation bar */
    left: 0;
    width: 100%;
    height: calc(100vh - 56px); /* Adjust for the height of the navigation bar */
    background-image: url('../Images/HomeWallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.footer {
    background-image: url('../Images/bg-nail-technology.jpg'); /* Adjust the path to your image */
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.navbar {
    background-image: url('../Images/bg-nail-technology-mirror.jpg'); /* Adjust the path to your image */
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    font-size: 20px;
    padding-left: 270px;
}

.content-box {
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.5); /* Grey with 50% opacity */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    color: #fff; /* White text color */
    z-index: 1;
}

.display-4 {
    margin-bottom: 20px; /* Add space below the title */
    font-family: 'Crimson Text', sans-serif;
}

.btn-outline-primary {
    border-color: #fff; /* White border for the button */
    color: #fff; /* White text color for the button */
}

.btn-outline-primary:hover {
    background-color: #fff; /* White background on hover */
    color: #000; /* Black text color on hover */
}

.salon-photo {
    cursor: pointer;
}

/*Edit Salon*/
.container {
    margin-top: 50px; /* Adjust as needed to center the form vertically */

}

.form-group {
    margin-bottom: 20px; /* Adjust as needed to tighten the spacing between form groups */
}

/*Stripe stop Cities*/
.custom-info-box {
    background-image: linear-gradient(to left, #ffffff, #eff1fd, #d8e5fc, #badaf9, #96d1f4, #86caf6, #76c3f9, #67bcfb, #8eb0ff, #b9a1f8, #e08fe2, #fd7ebf);
    display: flex; /* Enable Flexbox */
    justify-content: space-between; /* Align items to start and end of the container */
    align-items: center; /* Center items vertically */
    flex-wrap: wrap; /* Allow items to wrap */
    background-color: #56c6e6;
    border-color: #f5c6cb;
    color: #000;
    font-size: 19px;
    padding: 20px;
    margin-bottom: 30px;
}


.badge-custom {
    background-color: #fd7ebf; /* Change the background color of the badges */
    color: black; /* Change the text color of the badges */
    font-size: 19px; /* Change the font size of the badges */
    margin-right: 15px; /* Adjust the spacing between badges */
    margin-left: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition effect for background color and box shadow */
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2); /* Add shadow on the bottom and right side */
    text-decoration: none;
}

.badge-custom:hover {
    background-color: #fb0d87; /* Change background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
    color: #fff;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15); /* Make the shadow smaller on hover */
}

.show-all {
    align-self: end;
}


.btn-primary {
    background-color: #5acae6;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition effect for background color and box shadow */
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
    border-color: #5acae6;
    margin: 10px;
}
.btn-primary:hover {
    background-color: #fd7ebf;
    cursor: pointer;
    color: #fff;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-color: #fd7ebf; /* Change border color on hover */
}

.btn-success {
    
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition effect for background color and box shadow */
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
        
}

.btn {
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition effect for background color and box shadow */
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
}



.salon-chat-profile-picture {
    width: 300px; 
    height: auto;
}


.btn-custom {
    
}

.btn-custom:hover {
    background-color: #fd7ebf;
    transition: background-color 0.3s ease;
}

/*Appointments*/
.appointment-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.appointment {
    width: 100%; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card-body h4 {
    margin-bottom: 10px;
}

.page-item.active .page-link {
    background-color: #FD7EBF;
    border-color: #FD7EBF;
}

.page-item.active .page-link:hover {
    background-color: #FD7EBF;
    border-color: #FD7EBF;
}

.projectx-title {
    font-family: 'Satreva Neue', sans-serif;
}
