@{
    ViewData["Title"] = "ProjectX";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" /> 
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div id="homeBackground" class="row justify-content-center align-items-center homeBackground">
            <div class="col">
                <div class="content-box text-center">
                    <h1 class="display-4">@ViewData["Title"]</h1>
                    <div class="row justify-content-center">
                        <a asp-controller="News" asp-action="Index" class="btn btn-lg btn-outline-primary col-lg-2 m-lg-4">Enter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>